[submodule "submodules/org-mode"]
	path = submodules/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "submodules/magit"]
	path = submodules/magit
	url = git://github.com/magit/magit.git
[submodule "submodules/color-theme-solarized"]
	path = submodules/color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "submodules/yasnippet/text-mode/org-mode"]
	path = submodules/yasnippet/text-mode/org-mode
	url = http://github.com/eschulte/yasnippet-org-mode.git
